.RandomSquares {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@keyframes squareDisappear {
  0% { 
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(0);
      opacity: 0;
  }
}